@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="content">
        <div class="text-and-icons">
            <h1>Spiritual Deval</h1>
            <p>A sanctuary of peace, reflection, and spiritual growth.</p>
            <div class="social-icons">
                <a href="https://facebook.com" target="_blank">
                    <img src="facebook-icon.png" alt="Facebook" />
                </a>
                <a href="https://twitter.com" target="_blank">
                    <img src="twitter-icon.png" alt="Twitter" />
                </a>
                <a href="https://instagram.com" target="_blank">
                    <img src="instagram-icon.png" alt="Instagram" />
                </a>
            </div>
        </div>
        <div class="image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Taj_Mahal_%28Edited%29.jpeg/1200px-Taj_Mahal_%28Edited%29.jpeg" alt="Placeholder Image" />
        </div>
    </div>
</div>
