@page "/counter"
@using SpiritualDevalApp.Data
@using SpiritualDevalApp.Models.Entities;
@inject AppDbContext DbContext
@rendermode InteractiveServer
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<p role="status">Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        InsertUser();
    }

    private void InsertUser()
    {
        var user = new UserAccount
        {
            UserName = "testing",
            Password = null,
            Role = null,
            FirstName = null,
            LastName = null,
            Email = null
        };

        DbContext.UserAccounts.Add(user);
        DbContext.SaveChanges();
    }
}